.main-liked-video-page {
  margin-top: 4.5rem;
  margin-left: 16rem;
}

.conatiner-liked-videos-empty {
  position: relative;
}

.image-watch-later {
  color: var(--body-background-color);
  width: 100%;
  max-height: 30rem;
}

