.main-watchlater {
  margin-top: 4.5rem;
  margin-left: 16rem;
}

.conatiner-watch-later-empty {
  position: relative;
}

.image-watch-later {
  color: var(--body-background-color);
  width: 100%;
  max-height: 30rem;
}


