:root {
  /* --body-background-color: #44475a; */
  --body-background-color: #443e47;
  --navbar-active-color: #343746;
  --navbar-background-color: #2c2e3b;
  --navbar-background-color-light: #2c2e3b95;
  --text-color: #ffffff;
  --text-color-dark: #e2e0e2;
  --scrollbar-thumb-color: #d3d3d3;
}

body {
  color: var(--text-color);
  background: var(--body-background-color);
  font-size: 1.6rem;
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

main {
  min-height: 100vh;
  padding-bottom: 5rem;
  transition: margin-left 0.3s;
}

div {
  font-size: medium;
}

/* override */

::-ms-reveal {
  display: none !important;
}

/* scrollbar */

::-webkit-scrollbar {
  height: 1rem;
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border: thick solid var(--body-background-color);
  border-radius: 5rem;
}

::-webkit-scrollbar-track {
  background: var(--body-background-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

nav, aside, .icon  {
  background-color: var(--navbar-background-color);
}

.icon, span {
  color: var(--text-color);
}
